@keyframes slideup {
    0% {
        top: 0px;
        transform: scale(20%);
    }
    20% {
        top: -30px;
        transform: scale(110%);
    }
    28% {
        transform: scale(100%);
        opacity: 1;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}
